{% extends 'layout.html.twig' %}

{% block title %}<title>Project</title>{% endblock %}

{% block body %}
    Affichage du contenu du formulaire servant à indiquer les variables nécessaires à la résolution du problème.
{% endblock %}